<div class="header-blue">
  <nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Hospital Mangement</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Contact </a>
          </li>


        </ul>

        <ul class="navbar-nav login-button">
          
          <li class="custom-dropdown login-button ">
            <a class="custom-dropbtn nav-item btn btn-outline-success login-option">Login</a>
            <div class="custom-dropdown-content  ">
              <a class=" btn btn-outline-success" routerLink="login">Doctors Login</a>
              <a class=" btn btn-outline-success" routerLink="login">Facilities Login</a>
              <a class=" btn btn-outline-success" routerLink="login">Patients Login</a>
            </div>
          </li>
          
          <li class=" nav-item d-flex"><a class="btn btn-outline-success" routerLink="patients-signup">Patients
              Registration</a>
          </li>
        </ul>


      </div>
    </div>

  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 main-content">
        <h1> Health, Our Priority: Delivering Excellence in Care</h1>
        <p class="header-para"> we are dedicated to providing compassionate and world-class healthcare services. Your
          well-being
          is at the heart of everything we do, as we strive to exceed your expectations in every aspect of
          your healthcare journey.<br></p>
        <button class="btn btn-light btn-lg action-button" type="button">Learn More</button>
      </div>
      <div class="col-md-6">
        <div class="iphone-mockup">
          <img class="device" src="assets/img/main.svg">
          

        </div>
      </div>
    </div>

  </div>

</div>