.patients-body{
    background-color: #BFCFE7;
}
.heading{
    text-align: center;
    padding:5px;
    background-color: #525CEB;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin:3px;
}
.patients-form{
 height: 100vh;
    padding: 20px;
}